<md-card>
  <md-card-header>
    <md-card-title>Select a theme</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-grid-list cols="1">
      <md-grid-tile>
        <div class="theme-card-front">
          <div class="theme-profile">
            <img class="theme-profile-pic" [src]="racer.profilePhotoDataURL" />
          </div>
        </div>
        <div class="theme-card-back">
        </div>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
  <md-card-actions>
    <a md-button [routerLink]="['/info']">BACK</a>
    <button md-button type="button">NEXT</button>
  </md-card-actions>
</md-card>