<md-card>
  <md-card-header>
    <md-card-title>Select a theme</md-card-title>
    <md-card-subtitle>
      At the moment there is only one theme, but eventually there could be more.
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <ul class="themes" id="themes">
      <li *ngFor="let theme of themes">
        <md-card [ngClass]="{'selected': theme.isSelected}">
          <md-card-header>
            <md-card-title>{{theme.displayName}}</md-card-title>
            <md-card-subtitle>{{theme.description}}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <img [src]="theme.thumbnailFrontURL" height="100" />
            <img [src]="theme.thumbnailBackURL" height="100" />
          </md-card-content>
          <md-card-actions>
            <button md-button *ngIf="!theme.isSelected" (click)="onSelect(theme)">SELECT</button>
          </md-card-actions>
        </md-card>
      </li>
    </ul>
  </md-card-content>
  <md-card-actions>
    <a md-button [routerLink]="['/info']">BACK</a>
    <a md-button [routerLink]="['/preview']" [disabled]="!pitpass.theme">NEXT</a>
  </md-card-actions>
</md-card>