<md-card>
  <md-card-header>
    <md-card-title>Racer Information</md-card-title>
  </md-card-header>
  <md-card-content>
    <form [formGroup]="racerForm" novalidate >
      <md-form-field>
        <input mdInput placeholder="First name" name="firstname" formControlName="firstname">
      </md-form-field>

      <md-form-field>
        <input mdInput placeholder="Last Name" name="lastname" formControlName="lastname">
      </md-form-field>
      
      <md-form-field>
        <input mdInput placeholder="Race Car Name" name="carname" formControlName="carname">
      </md-form-field>

      <md-select placeholder="Rank" formControlName="rank">
          <md-option *ngFor="let rank of ranks" [value]="rank">{{rank}}</md-option>
      </md-select>
      
      <app-photo (onPhotoProcessing)="onPhotoProcessing()" (onPhotoProcessed)="onPhotoProcessed(dataUrl)" [profilePhotoDataURL]="racer.profilePhotoDataURL"></app-photo>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button type="submit" [disabled]="isProcessing">SAVE</button>
    <button md-button [disabled]="isProcessing" (click)="resetForm()">RESET</button>
  </md-card-actions>
</md-card>
