form { display:block; padding: 0 0 0 8px; }
.mat-card { max-width:632px; margin: 2px auto; }
.mat-form-field { display:block; margin: 20px auto; width:100%; }
.mat-select { display: block; margin: 20px auto; width:100%; }