form { display:block; padding: 0 0 0 8px; }
.mat-card { max-width:450px; margin: 0 auto; }
.mat-input-container { display:block; margin: 20px auto; }
.mat-select { display: block; margin: 20px auto; }