.img-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    box-shadow: 10px 9px 5px 1px rgba(210,204,204,0.75);
    -webkit-box-shadow: 10px 9px 5px 1px rgba(210,204,204,0.75);
    -moz-box-shadow: 10px 9px 5px 1px rgba(210,204,204,0.75);
}
